<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Entendimiento del Negocio y los Datos</h1>
        <p>Esta sección proporciona un contexto general del proyecto, alineado con los Objetivos de Desarrollo Sostenible (ODS).</p>
        <h2>Objetivo del Proyecto</h2>
        <p>El objetivo principal del proyecto es desarrollar un modelo de Machine Learning capaz de identificar y clasificar imágenes de flores en diferentes categorías (daisy, dandelion, rose, sunflower y tulip), este modelo busca automatizar el proceso de reconocimiento visual, reduciendo el error humano y permitiendo una clasificación rápida y precisa.</p>
        <h2>Contexto y Problemática</h2>
        <p>En el ámbito de la botánica y la agricultura, la clasificación de especies florales es una tarea fundamental para estudios de biodiversidad, control de cultivos y preservación de especies tradicionalmente, este proceso requiere de especialistas y tiempo considerable, el reto surge al intentar automatizar este proceso utilizando técnicas de aprendizaje automático</p>
        <h2>Evaluación del Procesamiento de Datos</h2>
        <p>Durante el procesamiento, se trabajó con un conjunto de datos compuesto por imágenes de flores distribuidas en cinco carpetas, cada una correspondiente a una clase, el modelo se entrena con una parte de las imágenes y se valida con el resto, evaluando su rendimiento mediante métricas como la precisión y el reporte de clasificación, se logró una precisión significativa, lo que demuestra la capacidad del modelo SVM para reconocer patrones visuales en imágenes previamente escaladas y estandarizadas.</p>
        <a href="/" >
        <button class="btn-menu">Volver al Menú</button>
        </a>

    </div>
</body>
</html>